{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Koszyk</title>
    <link rel="stylesheet" href="{% static 'shopapp/css/style.css' %}">
</head>
<body>
    <header class="site-header">
        <div class="container header-content">
            <h1 class="logo">Sklep</h1>

            <nav class="nav">
                <a href="{% url 'cart_detail' %}" class="cart-link">
                    Koszyk: {{ cart_unique_count|default:0 }}
                </a>

                <a href="/admin/" class="nav-link">Login</a>
            </nav>
        </div>
    </header>

    <main class="container">
        <section class="hero">
            <h2>Twój koszyk</h2>
            <p>Produkty dodane do koszyka.</p>
        </section>

            {% if cart_items %}
        <form method="post" action="{% url 'update_cart' %}" class="cart-box">
            {% csrf_token %}

            {% for item in cart_items %}
                <div class="cart-item">
                    <div>
                        <h3>{{ item.product.name }}</h3>
                        <p>{{ item.product.description }}</p>
                    </div>

                    <div class="cart-item-meta">
                        <span>{{ item.product.price }} zł</span>

                        <label>
                            Ilość:
                            <input
                                type="number"
                                name="quantity_{{ item.product.id }}"
                                value="{{ item.quantity }}"
                                min="1"
                                class="quantity-input"
                            >
                        </label>

                        <a
                            href="{% url 'remove_from_cart' item.product.id %}"
                            class="remove-link"
                        >
                            Usuń
                        </a>
                    </div>
                </div>
            {% endfor %}

            <div class="cart-actions">
                <a href="{% url 'index' %}" class="button secondary-button">
                    Kontynuuj zakupy
                </a>

                <button type="submit" class="button secondary-button">
                    Aktualizuj koszyk
                </button>

                <a href="#" class="button">
                    Przejdź do zamówienia
                </a>
            </div>
        </form>
    {% else %}
        <div class="empty-state">
            <h3>Koszyk jest pusty</h3>
            <p>Dodaj produkty z listy produktów.</p>
            <a href="{% url 'index' %}" class="button">
                Wróć do sklepu
            </a>
        </div>
    {% endif %}
    </main>
</body>
</html>